<!-- Шапка -->
<div class="background">
    <div class="blur">
        <div class="header">
            <div></div>
            <div class="textHeader" (click)="allProducts()">Online Shop</div>
            <div class="iconHeader">
                <div class="iconHistory" (click)="history()"></div>
                <div class="iconBasket" (click)="basket()"></div>
                <div class="iconLogout" (click)="logout()"></div>
            </div>
        </div>

        <!--  Категория  -->

        <div class="allInfo">
            <div class="info">
                <div class="nameCategory">History</div>

                <!--   Таблица     -->

                <div class="products" *ngFor="let j of json">
                    <div class="test" *ngFor="let q of j.basketDtoList">
                        <div class="product">{{q.title}}</div>
                        <div class="quantity">{{q.quantity}}</div>
                        <div class="price">{{q.bigDecimal}} $</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
